.spacer {
  flex: 1 1 auto;
}

.form-control {
  border-radius: 1px;
  width: 400px;
  margin-left: 200px;
  height: 20px;
}
.mat-elevation-z9__bg--transparent {
  background-color: rgba(2, 2, 77, 0.3);
  position: fixed;
  z-index: 1100;
  box-shadow: bold;
  color: rgb(29, 29, 150);
}
